<div class="wrapper">
  <form class="search__form">
    <label for="search-query" class="search__form__label">Sök på webbplatsen</label>
    <div class="search__form__field">
      <input type="search" id="search-query" name="s" placeholder="Lorem ipsum"/>
      <search-icon size="lg" class="search__icon"></search-icon>
    </div>
  </form>
  <div class="search__intro">
    <div>
    <h2 class="heading-5">Vanliga frågor</h2>
    <accordion-container class="search__faq">
      <accordion-item>
        <h2 class="semi-bold heading-5" slot="title">
          Fugue dust is bearable vastness kindling energy?
        </h2>
        <rich-text>
          <div class="richtext">
            <p>Suspended number bits stirred number global tingling fugue thousands made mote good s far.</p>
          </div>
        </rich-text>
      </accordion-item>
      <accordion-item>
        <h2 class="semi-bold heading-5" slot="title">
          Home concept thousands universe hearts starlight?
        </h2>
        <rich-text>
          <div class="richtext">
            <p>Suspended number bits stirred number global tingling fugue thousands made mote good s far.</p>
          </div>
        </rich-text>
      </accordion-item>
    </accordion-container>
    </div>
    <div>
      <h2>Behöver du hjälp?</h2>
    </div>
  </div>
</div class="wrapper">