<div class="hero">
  <div class="wrapper">
    <div class="hero__inner">
      <h1 class="display-3">{{ item.title }}</h1>
      <p class="text-xl">{{ item.text }}</p>
      <a href="{{ item.link }}" class="button">{{ item.linkText }}</a>
    </div>
    <div class="hero__mask">
      <div class="hero__image">
        <picture-container src="{{ item.image.src }}" width="auto" height="auto" alt=""></picture-container>
      </div>
    </div>
  </div>
</div>